<a class='business-link float' href='#/businesses/<%= business.id %>' id="<%= business.id %>">
	

	<div class='business-avatar'>
		<img class="avatar" src="<%= business.get('avatar_url') %>">
        <div class='pricetag'>
            $<%= business.escape('price_range') %>
        </div>

        <img class='user-avatar-thumb' src='<%= user.get('avatar_thumb_url') %>'>

	</div>
    


	<div class='business-name'>
		<%= business.escape('name') %>
	</div>

	<div class='business-location'>
		<%= business.escape('category') + " · " + business.escape('location') %>
	</div>

</a>