
<div class='business-avatar-show'>
    <img class="avatar" src="<%= business.get('avatar_url') %>">
</div>
<div class='show-info'>
    <h3 class='business-name'>
        <%= business.escape('name') %>
    </h3>

    <div class='business-owner'>
        <h4>Your Host: <%= user.escape('username') %></h4>
        <img class='owner-avatar' src="<%= user.get('avatar_url') %>">
    </div><br>

    <div class='business-location-show'>
        Location: <%= business.escape('location') %>
    </div>

    <div class='business-description'>
        Description: <%= business.escape('description') %>
    </div>

    <div class='business-price_range'>
        Price per Night: $<%= business.escape('price_range') %>
    </div>
    <br><br>
    
    <div id='reviews-list'>
        <ul class='reviews list-group'></ul>
    </div>
  <div id='new-review-button'></div>
</div>
<div class='reserve-button'>
    <a href="http://lnkd.in/2yiksZ" class="btn btn-danger btn-lg">
        Reserve Now!
    </a>
</div>