<h3 class='business-name'>
	<%= business.escape('name') %>
</h3>

<div class='business-location'>
	Location: <%= business.escape('location') %>
</div>

<div class='business-description'>
	Description: <%= business.escape('description') %>
</div>

<div class='business-price_range'>
	Price Range: <%= business.escape('price_range') %>
</div>

<div class='business-num_stars'>
	Rating: <%= business.escape('num_stars') %>
</div>

<!-- <ul class='reviews'></ul>

<a href="#/">Back</a> -->