
<div class='business-avatar-show'>
    <img class="avatar" src="<%= business.get('avatar_url') %>">
</div>
<div class='show-info'>
    <h3 class='business-name'>
        <%= business.escape('name') %>
    </h3>

    <div class='business-location'>
        Location: <%= business.escape('location') %>
    </div>

    <div class='business-description'>
        Description: <%= business.escape('description') %>
    </div>

    <div class='business-price_range'>
        Price Range: <%= business.escape('price_range') %>
    </div>

    <div id='new-review-button'></div>
    <br><br><br>
    <ul class='reviews'></ul>
</div>
<div class='reserve-button'>
    <a href="http://lnkd.in/2yiksZ" class="btn btn-danger btn-lg">
        Reserve Now!
    </a>
</div>